In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/justmarkham/scikit-learn-videos/master/data/Advertising.csv")

In [3]:
df.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [5]:
df.drop("Unnamed: 0",axis = 1 , inplace = True)

In [6]:
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [9]:
df.corr(method = "spearman")
#

                 TV     Radio  Newspaper     Sales
TV         1.000000  0.056123   0.050840  0.800614
Radio      0.056123  1.000000   0.316979  0.554304
Newspaper  0.050840  0.316979   1.000000  0.194922
Sales      0.800614  0.554304   0.194922  1.000000

In [10]:
df.corr(method = "pearson")

                 TV     Radio  Newspaper     Sales
TV         1.000000  0.054809   0.056648  0.782224
Radio      0.054809  1.000000   0.354104  0.576223
Newspaper  0.056648  0.354104   1.000000  0.228299
Sales      0.782224  0.576223   0.228299  1.000000

In [11]:
X = df[['TV','Newspaper','Radio']]
y = df['Sales']

In [14]:
import statsmodels.api as sm

In [15]:
X = sm.add_constant(X)

In [17]:
X

     const     TV  Newspaper  Radio
0      1.0  230.1       69.2   37.8
1      1.0   44.5       45.1   39.3
2      1.0   17.2       69.3   45.9
3      1.0  151.5       58.5   41.3
4      1.0  180.8       58.4   10.8
..     ...    ...        ...    ...
195    1.0   38.2       13.8    3.7
196    1.0   94.2        8.1    4.9
197    1.0  177.0        6.4    9.3
198    1.0  283.6       66.2   42.0
199    1.0  232.1        8.7    8.6

[200 rows x 4 columns]

In [20]:
ols = sm.OLS(y,X).fit()

In [23]:
ols.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.897
Model:                            OLS   Adj. R-squared:                  0.896
Method:                 Least Squares   F-statistic:                     570.3
Date:                Sat, 16 Apr 2022   Prob (F-statistic):           1.58e-96
Time:                        16:28:46   Log-Likelihood:                -386.18
No. Observations:                 200   AIC:                             780.4
Df Residuals:                     196   BIC:                             793.6
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          2.9389      0.312      9.422      0.000       2.324       3.554
TV             0.0458      0.001     32.809      0.000       0.043       0.049
Newspaper     -0.0010      0.006     -0.177      0.860      -0.013       0.011
Radio          0.1885      0.009     21.893      0.000       0.172       0.206
==============================================================================
Omnibus:                       60.414   Durbin-Watson:                   2.084
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              151.241
Skew:                          -1.327   Prob(JB):                     1.44e-33
Kurtosis:                       6.332   Cond. No.                         454.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [26]:
df.corr()

                 TV     Radio  Newspaper     Sales
TV         1.000000  0.054809   0.056648  0.782224
Radio      0.054809  1.000000   0.354104  0.576223
Newspaper  0.056648  0.354104   1.000000  0.228299
Sales      0.782224  0.576223   0.228299  1.000000

In [130]:
data = pd.read_csv("Downloads/Salary_Data.csv")

In [131]:
data.head()

   YearsExperience   Age  Salary
0              1.1  21.0   39343
1              1.3  21.5   46205
2              1.5  21.7   37731
3              2.0  22.0   43525
4              2.2  22.2   39891

In [132]:
import statsmodels.api as sm

In [137]:
x = data[['YearsExperience','Age']]
y = data['Salary']

In [138]:
ols = sm.OLS(y,x).fit()

In [139]:
ols.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                 Salary   R-squared (uncentered):                   0.996
Model:                            OLS   Adj. R-squared (uncentered):              0.995
Method:                 Least Squares   F-statistic:                              3108.
Date:                Sat, 16 Apr 2022   Prob (F-statistic):                    1.33e-33
Time:                        17:01:16   Log-Likelihood:                         -300.40
No. Observations:                  30   AIC:                                      604.8
Df Residuals:                      28   BIC:                                      607.6
Df Model:                           2
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
YearsExperience  6814.1911    570.150     11.952      0.000    5646.291    7982.091
Age              1462.7324    123.591     11.835      0.000    1209.568    1715.897
==============================================================================
Omnibus:                        2.685   Durbin-Watson:                   1.714
Prob(Omnibus):                  0.261   Jarque-Bera (JB):                1.970
Skew:                           0.455   Prob(JB):                        0.373
Kurtosis:                       2.135   Cond. No.                         16.1
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [140]:
data.corr()
#highly coreelated

                 YearsExperience       Age    Salary
YearsExperience         1.000000  0.987258  0.978242
Age                     0.987258  1.000000  0.974530
Salary                  0.978242  0.974530  1.000000

In [142]:
def get_r2_statsmodels(x, y):
    return sm.OLS(y, sm.add_constant(x)).fit().rsquared

In [143]:
get_r2_statsmodels(x,y)

0.9599822609873284

In [144]:
VIF = 1/1-0.9569566641435086

In [145]:
VIF

0.04304333585649145

In [146]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

def calc_vif(X):

    # Calculating VIF
    vif = pd.DataFrame()
    vif["variables"] = X.columns
    vif["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

    return(vif)

In [147]:
x = data.iloc[:,:2]

In [149]:
calc_vif(x)

         variables       VIF
0  YearsExperience  11.24047
1              Age  11.24047

In [ ]:
# VIF starts at 1 and has no upper limit
# VIF = 1, no correlation between the independent variable and the other variables
# VIF exceeding 5 or 10 indicates high multicollinearity between this independent variable and the others